{% extends "base.html" %}

{% block content %}
<h1>О разработчиках</h1>
<br>
<p>Веб-приложение AntiStore было создано дуэтом начинающих программистов.</p>
<br>
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/program_file/r.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text">... <a href="https://vk.com/id367205243">Ошкин Ростислав Евгеньевич</a>...</p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body">
        <p class="card-text">
          Вторым, но не по важности, разработчиком являюсь я, <a href="https://vk.com/demonic_katana">Ходырева Александра Владимировна</a>.<br>
          Очень рада, что небольшая идея смогла получить поддержку и стать полноценным сайтом. <br>
          Имея всего 2 года опыта разработки, мы смогли добиться таких отличных результатов, и, я надеюсь, что в дальнейшем нам покорятся и не такие высоты.
          Желаю успехов вам, наши пользователи, в любых ваших начинаниях.
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <img src="/program_file/a.jpg" class="img-fluid rounded-start" alt="...">
    </div>
  </div>
</div>
<br>
<p>Весь проект AntiStore выполнен под чутким руководством <a href="https://academy.yandex.ru/lyceum">Лицея Академии Яндекса</a>.
  Мы очень рады, что получили такую прекрасную возможность обучатся у таких замечательных преподавателей.
  Отдельную благодарность хотелось бы выразить нашему куратору Гулину Михаилу Алексеевичу, за поддержку и ценные советы.</p>
{% endblock %}