{% extends "base.html" %}

{% block content %}
<h1>Приветствую, {{ current_user.name }}!</h1>
<a class="btn btn-primary" type="submit" href="/profile/adverts/new_advert">Добавить</a>
<h3>Ваш id: {{current_user.id}}</h3>
<div class="card-group">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for advrt in advrts %}
        <div class="col">
            <div class="card h-100">
                <img src="https://fikiwiki.com/uploads/posts/2022-02/1644984017_1-fikiwiki-com-p-kartinki-zhivotnikh-na-avu-1.jpg"
                     class="d-block w-100" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{advrt.name}}</h5>
                    <div class="card-text">Номер объявления: {{ advrt.id }}<br>
                        Описание: {{ advrt.description[:100] }}
                        {% if advrt.description != advrt.description[:100] %}
                        ...
                        {% endif %}
                        <br>
                        Цена: {{ advrt.price }}<br>
                        Файлы:
                        <a class="nav-link" href="/files/{{advrt.id}}">Ваши файлы</a>
                    </div>
                    <span>
                        <form class="d-flex" method="post">
                            <input type="hidden" name="btn" value="/ {{advrt.id}}">
                            <button class="btn btn-outline-success" type="submit">Прикрепить файлы</button>
                        </form>
                    </span>
                    <span style="float:left;">
                        <form class="d-flex" method="post">
                            <input type="hidden" name="btn" value="update {{advrt.id}}">
                            <button class="btn btn-outline-warning" type="submit">Изменить</button>
                        </form>
                    </span>
                    <span style="float:right">
                        <form class="d-flex" method="post">
                            <input type="hidden" name="btn" value="del {{advrt.id}}">
                            <button class="btn btn-outline-danger" type="submit">Удалить</button>
                        </form>
                    </span>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">Дата публикации: {{advrt.data}}</small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}