{% extends "base.html" %}

{% block content %}
<style>
    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
    .card {
        width: 50%;
        margin: 1em;
        float:center;
    }

</style>
<div class="container">
    <div class="d-flex">
        <div class="card justify-content-md-center">
            <div class="card-header">
                <h3>{{title}}</h3>
            </div>
            <div class="card-body">
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.name.label }}<br>
                        {{ form.name(class="form-control", value=advert.name) }}<br>
                        {% for error in form.name.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                    {% endfor %}
                    </p>
                    <p>
                        {{ form.description.label }}<br>
                        {% set f = form.description.process_data(advert.description) %}
                        {{ form.description(class="form-control") }}<br>
                        {% for error in form.description.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                    {% endfor %}
                    </p>
                    <p>
                        {{ form.price.label }}<br>
                        {{ form.price(class="form-control", value=advert.price) }}<br>
                        {% for error in form.price.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                    {% endfor %}
                    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
                    <a class="btn btn-secondary" type="button" href="/profile/adverts">Отмена</a>
                    {{message}}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}