<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        html, body {
            background-image: url("https://bogatyr.club/uploads/posts/2023-02/1677448103_bogatyr-club-p-svetlo-serii-tsvet-fon-pinterest-46.jpg");
        }
    </style>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>Подтвердите удаление</title>
</head>
<body>
<h1>Вы точно хотите безвозвратно удалить {{ text }}?</h1>
<form class="d-flex" method="post">
    <button class="btn btn-danger" type="submit">Удалить</button>
    <a class="btn btn-primary" type="button" href="/profile">Отмена</a>
</form>
</body>
</html>