{% extends "base.html" %}

{% block content %}
<h1>Описание</h1>
<div>
    <p>Номер пользователя: {{advert.id_person}}<br>
        Описание: {{advert.description}}
        <br>
        Цена: {{advert.price}}<br>
        Файлы:
        {% if advert.id_files != 'Нет' %}
        <a class="nav-link" href="/files/{{advert.id}}">Файлы</a>
        {% else %}
        Нет.
        {% endif %}
        Профиль: <a class="nav-link" href="/profile/vp/{{advert.id_person}}">Профиль</a>
    </p>
</div>
{% endblock %}