{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
    <h1>Приветствую, {{ user.name }}!</h1>
{% else %}
    <h1>Приветствую, Гость!</h1>
{% endif %}
<div>Добро пожаловать на официальном сайте "Магазин наоборот"!
    Здесь вы можете расположить объявление о нужном вам товаре. Далее люди, что заинтересуются в создании, напишут вам.
    И дальше уже вы сами договариваетесь между собой.
</div>
<br>
<br>
<br>
<h6>Так же хотим представить нашу игру <a href="https://github.com/demonic-katana/LiceyProject_pygame">The Walls</a>.<br>
    Вас ждёт лабиринт, для прохождения которого потребуется найти ключи, запрятанные по тёмным уголкам карты.<br>
    В игре всего 4 уровня, но каждый это не делает её лёгкой, и с каждым разом прохождение будет занимать всё больше времени.<br>
    Сможете ли вы выбраться из этого лабиринта или останетесь здесь навечно?
</h6>
    <img src="/program_file/game.png" class="d-block w-100" alt="...">
{% endblock %}