{% extends "base.html" %}

{% block content %}
<h1>Профиль</h1>
<form class="d-flex" method="post">
    <input type="hidden" name="btn" value="advertsPRF#">
    <button class="btn btn-outline-primary" type="submit">Ваши объявления</button>
</form>
<table class="table">
    <tbody>
    <tr>
        <th scope="row">Имя</th>
        <td>{{current_user.name}}</td>
    </tr>
    <tr>
        <th scope="row">id</th>
        <td>{{current_user.id}}</td>
    </tr>
    <tr>
        <th scope="row">Информация об аккаунте</th>
        <td>{{current_user.description}}</td>
    </tr>
    <tr>
        <th scope="row">Как со мной можно связаться</th>
        <td>{{current_user.communication}}</td>
    </tr>
    </tbody>
</table>
<a class="btn btn-outline-danger" type="button" href="/profile/delete_profile">Удалить профиль</a>
{% endblock %}