{% extends "base.html" %}

{% block content %}
<h1>Профиль</h1>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="/icon/{{current_user.id}}" class="img-thumbnail" width="250" height="250">
        </div>
    </div>
</div>
<div class="vstack gap-2 mx-auto">
    <a class="btn btn-outline-primary" href="/profile/adverts">Ваши объявления</a>
    <a class="btn btn-outline-primary" href="/photo_profile/{{current_user.id}}">Изменить иконку профиля.</a>
</div>
<table class="table">
    <tbody>
    <tr>
        <th scope="row">Имя</th>
        <td>{{current_user.name}}</td>
    </tr>
    <tr>
        <th scope="row">Информация об аккаунте</th>
        <td>{{current_user.description}}</td>
    </tr>
    <tr>
        <th scope="row">Как со мной можно связаться</th>
        <td>{{current_user.communication}}</td>
    </tr>
    </tbody>
</table>
<a class="btn btn-outline-danger" type="button" href="/profile/delete_profile">Удалить профиль</a>
{% endblock %}