{% extends "base.html" %}

{% block content %}
<h1>Приветствую!</h1>
<div>Вот всё, что мы смогли найти по запросу "{{search}}"</div>
<h2>Объявления</h2>

<div class="card-group">
 <div class="row row-cols-1 row-cols-md-3 g-4">
   {% for item in adverts %}
   <div class="col">
     <div class="card h-100">
       <img src="https://img.freepik.com/premium-vector/photo-frame-icon-empty-photo-blank-vector-on-isolated-transparent-background-eps-10_399089-1290.jpg?w=826" class="card-img-top" alt="...">
       <div class="card-body">
         <h5 class="card-title">{{item.name}}</h5>
         <p class="card-text">Номер пользователя: {{item.id_person}}<br>
                              Описание: {{item.description}}<br>
                              Цена: {{item.price}}</p>
       </div>
         <div class="card-footer">
         <small class="text-body-secondary">Дата публикации: {{item.data}}</small>
       </div>
     </div>
   </div>
   {% endfor %}
  </div>
</div>
{% endblock %}